<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	
	<import resource="connectionDB.xml"/>
	 
	<context:component-scan base-package="com.tim.cake.online"/>
	 
	<bean id="customerDao" class="com.tim.cake.online.dao.impl.CustomerDaoImpl" parent="commonDAO">
	</bean>
    
    <bean id="customerService" class="com.tim.cake.online.service.impl.CustomerServiceImpl">
    	<property name="customerDao" ref="customerDao"></property>
    	<property name="commonService" ref="commonService"></property>
    </bean>
    
    <bean id="customerFacade" class="com.tim.cake.online.facade.impl.CustomerFacadeImpl">
    	<property name="customerService" ref="customerService"/>
    	<property name="customerConvert" ref="customerConvert"/>
    	<property name="customerReverseConvert" ref="customerReverseConvert"/>
    	<property name="passwordService" ref="passwordService"/>
    </bean>
    
    <bean id="customerConvert" class="com.tim.cake.online.convert.CustomerConvert"></bean>
    
    <bean id="customerReverseConvert" class="com.tim.cake.online.convert.CustomerReverseConvert">
    	<property name="passwordService" ref="passwordService"/>
    </bean>
    
    <bean id="passwordService" class="com.tim.cake.online.service.impl.PasswordService"/>
    
    <bean id="productService" class="com.tim.cake.online.service.impl.ProductServiceImpl">
    	<property name="commonService" ref="commonService"/>
    	<property name="productDao" ref="productDao"></property>
    </bean>
    
    <bean id="productDao" class="com.tim.cake.online.dao.impl.ProductDaoImpl" parent="commonDAO"></bean>
     
     <bean id="productConvert" class="com.tim.cake.online.convert.ProductConvert"></bean>
     
     <bean id="productFacade" class="com.tim.cake.online.facade.impl.ProductFacadeImpl">
     	<property name="productService" ref="productService"/>
     	<property name="productConvert" ref="productConvert"/>
     	<property name="productReverseConvert" ref="productReverseConvert"/>
     </bean>
     
     <bean id="productReverseConvert" class="com.tim.cake.online.convert.ProductReverseConvert"/>
    
    
    <!-- <bean id="loadImage" class="com.tim.cake.online.task.LoadImage"/>
     -->
    <!-- 定时任务 -->
	<!-- <task:scheduler id="taskScheduler" pool-size="100" />
    <task:scheduled-tasks scheduler="taskScheduler">
       	每3秒触发任务 ，系统启动之后，就会开始触发，不用人工启动触发条件
       	<task:scheduled ref="loadImage" method="loadImage" cron="0/3 * * * * ?"/>
    </task:scheduled-tasks> -->
    
</beans>